body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #3c0768;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.todo-form input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-form button {
  padding: 10px;
  margin-left: 5px;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.todo-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: relative;
}

.todo-list li.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-list li input {
  width: 60%;
  padding: 5px;
  margin-right: 50px; /* Add space for buttons */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-list li button {
  position: absolute;
  right: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
}


#delButton{
  background: rgb(255, 0, 0);
  color: white;
  right: 50px; /* Position for delete button */ 
}

.todo-list li button:last-of-type {
  right: 10px; /* Position for last button */
  background: rgb(0, 17, 255);
  color: white;
}